vendor
node_modules
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
.git
.gitignore
.idea
.vscode
Dockerfile
docker-compose*.yml
docker/*.log
tests
phpunit.xml
bootstrap/cache/*.php
public/hot
public/build
**/.DS_Store
