services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: papersome-php
    ports:
      - "8088:8080"   # HTTP
      - "8443:8443"   # HTTPS
    volumes:
      - ./:/var/www/html
      - node_modules:/var/www/html/node_modules
#    user: "${PUID:-1000}:${PGID:-1000}"
    env_file:
      - .env.docker
    depends_on:
      - db
      - redis

  db:
    image: mariadb:11
    container_name: papersome-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootsecret
      MYSQL_DATABASE: papersome
      MYSQL_USER: papersome
      MYSQL_PASSWORD: secret
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  redis:
    image: redis:7-alpine
    container_name: papersome-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  scheduler:
    environment:
      APP_ENV: production
      APP_DEBUG: "false"
    build:
      context: .
      dockerfile: Dockerfile
    container_name: papersome-scheduler
    volumes:
      - ./:/var/www/html
    depends_on:
      - php
    entrypoint: ["php", "artisan", "schedule:work"]
#    user: "${PUID:-1000}:${PGID:-1000}"
    env_file:
      - .env.docker

  queue:
    environment:
      APP_ENV: production
      APP_DEBUG: "false"
    build:
      context: .
      dockerfile: Dockerfile
    container_name: papersome-queue
    depends_on:
      - php
      - redis
    volumes:
      - ./:/var/www/html
    entrypoint: ["php", "artisan", "queue:work", "--tries=1", "--sleep=1"]
#    user: "${PUID:-1000}:${PGID:-1000}"
    env_file:
      - .env.docker

  chromium:
    image: zenika/alpine-chrome
    command: [
      "--headless",
      "--disable-gpu",
      "--remote-debugging-address=0.0.0.0",
      "--remote-debugging-port=9222"
    ]
    cap_add:
      - SYS_ADMIN
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9222" ]
      interval: 30s
      timeout: 5s
      retries: 3

  node-build:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: papersome-node-build
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
      - node_modules:/var/www/html/node_modules
    command: [ "npm", "run", "build" ]

volumes:
  db_data:
  redis_data:
  node_modules:
