@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../../../../vendor/livewire/flux/dist/flux.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views';

@custom-variant dark (&:where(.dark, .dark *));
